.auto-style1
{
    height: 31px;
}

.auto-style2
{
    height: 31px;
    width: 315px;
}

.auto-style4
{
    width: 315px;
    height: 23px;
}

.auto-style5
{
    height: 23px;
}

.auto-style8
{
    width: 315px;
    height: 16px;
}

.auto-style9
{
    height: 16px;
}

.auto-style10
{
    height: 31px;
    width: 81px;
}

.auto-style13
{
    width: 81px;
    height: 23px;
}

.auto-style14
{
    width: 81px;
    height: 16px;
}

.auto-style15
{
    width: 81px;
    height: 20px;
}

.auto-style16
{
    width: 315px;
    height: 20px;
}

.auto-style17
{
    height: 20px;
}

.auto-style18
{
    width: 81px;
    height: 12px;
}

.auto-style19
{
    width: 315px;
    height: 12px;
}

.auto-style20
{
    height: 12px;
}

.auto-style21
{
    width: 81px;
    height: 8px;
}

.auto-style22
{
    width: 315px;
    height: 8px;
}

.auto-style23
{
    height: 8px;
}

.auto-style24
{
    height: 31px;
    width: 316px;
}

.auto-style25
{
    width: 316px;
    height: 20px;
}

.auto-style26
{
    width: 316px;
    height: 12px;
}

.auto-style27
{
    width: 316px;
    height: 8px;
}

.auto-style28
{
    width: 316px;
    height: 23px;
}

.auto-style29
{
    width: 316px;
    height: 16px;
}
